Body{
	  Color: white;
	  background:#ff0a6e url(../images/wood.jpg) top left repeat;
	  Line-height: 1.4em;
	  margin: 0px auto 0px auto;
    font-size: 30px;
    font-family: 'Cantarell-Bold';
  }

header {
        margin: 0px auto 0px auto;
      padding: 20px 30px 20px 30px;
       text-align: center;
       font-size : 36px;
       font-family: 'Cantarell-Bold';
  }


nav a:hover
{
    background-color : red;
}
h2
{
    color: lightblue;
    margin: 0px auto 0px auto;
    padding: 100px 30px 100px 30px;
    text-shadow: 1px 2px 2px #000000;
    display: inline-block;
    font-size: 78px;
    font-family: 'Cantarell-Bold';
    
}

h1
{
    background-color: blue;
    margin: 0px auto 0px auto;
    padding: 50px 30px 50px 30px;
    text-shadow: 1px 2px 2px #000000;
    display: inline-block;
    font-size: 94px;
    font-family: 'Cantarell-Bold';
    
}
label
{
margin: 0px auto 0px auto;
      padding: 20px 30px 20px 30px;
       text-align: center;
       font-size : 36px;
       font-family: 'Cantarell-Bold';
}

a
{
  color: yellow;
    font-size: 26px;
    font-family: 'Cantarell-Bold';
      margin: 50px auto 0px auto;
      padding: 20px 30px 20px 30px;
      display: center;
}

table
{
  color: white;
    margin: 0px auto 0px auto;
    padding: 100px 30px 100px 30px;
    text-shadow: 1px 2px 2px #000000;
    display: inline-block;
    font-size: 26px;
    font-family: 'Cantarell-Bold';
}



.products
{
    background-color: black;
    min-height: 200px;
}

img
{
    width : 300px;
    float: left;
}

.errortext
{
    color : red;
}
.form
{
    display: right;
}